a.chapter-link {
	border : 1px solid rgb(0,142,208);
	background : none;
	background-color : rgb(153,210,236);
	
	width : auto ! important;
	height : auto ! important;
	
	color : white;
	font-weight  : bold;
	font-size : 0.8em;
	padding : 2px 4px 2px 4px;
	text-decoration : none ! important;
	-moz-border-radius: 5px;
	-webkit-border-radius: 10px 5px;
}
